<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="2" rowHeight="350px">

        <table mat-table [dataSource]="machineBasicInfo" class="mat-elevation-z8">
            <!-- Device Column -->
            <ng-container matColumnDef="device">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Device</th>
                <td mat-cell *matCellDef="let machine">{{ machine.ip }}</td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let machine">{{ machine.date }}</td>
            </ng-container>

            <!-- time Column -->
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
                <td mat-cell *matCellDef="let machine">{{ machine.time }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="headerBasicInfo"></tr>
            <tr mat-row *matRowDef="let row; columns: headerBasicInfo;"></tr>
        </table>

    </mat-grid-list>
</div>