<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container">
    <!-- ============================================================== -->
    <!-- Topbar - style you can find in header.scss -->
    <!-- ============================================================== -->
    <mat-toolbar color="primary">
        <!-- ============================================================== -->
        <!-- Logo - style you can find in header.scss -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                <!-- Logo icon -->
                <b>
                    <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                </b>
            </a>
        </div>
        <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
            <mat-icon>menu</mat-icon>
        </button>
        <app-header></app-header>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">

        <mat-sidenav #snav id="snav">
            <app-sidebar></app-sidebar>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="page-content">

                <router-outlet>
                    <!-- <app-spinner></app-spinner> -->
                </router-outlet>

            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>